# Created by venv; see https://docs.python.org/3/library/venv.html
# Ignore virtual environment
venv/
.VENV/
.env/
.venv/

# Byte-compiled files
__pycache__/
*.pyc

# IDE settings
.idea/
.vscode/

# OS files
.DS_Store

# Local settings or secrets
*.env
